nav {
     border: 1px solid lightgrey;
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: center;
 }

 .logo {
    height: 100px;
    object-fit: cover;
}



