nav {
     border: 1px solid lightgrey;
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: center;
     padding-left: 1rem;
     padding-right: 1rem;

 }

 .logo {
    height: 100px;
    object-fit: cover;
}

.links {
    text-decoration: none;
    color: black;
}



